{% load i18n %}
{% load static %}

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="{% static 'css/screen.css' %}" rel='stylesheet' type='text/css'>
		<title>{% block title %}{% trans 'dn42.lutoma.org autopeer' %}{% endblock %}</title>
	</head>
	<body class="pt-0">
		<header class="p-3 mb-5 bg-dark text-white">
			<div class="container">
				<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
					<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

						{% if user.is_authenticated %}
							<li><a href="/peerings/" class="nav-link px-2 text-white">Peerings</a></li>
						{% else %}
							<li><a href="/" class="nav-link px-2 text-white">Home</a></li>
						{% endif %}
					</ul>

					<div class="text-end">
						{% if not user.is_authenticated %}
							<a href="/login/" class="btn btn-outline-light me-2"><i class="fa-regular fa-arrow-right-to-bracket"></i> Log in</a>
							<a href="/signup/" class="btn btn-warning"><i class="fa-regular fa-user-plus"></i>  Sign up</a>
						{% else %}
							<a href="/logout/" class="btn btn-outline-light me-2"><i class="fa-regular fa-arrow-right-from-bracket"></i> Log out</a>
						{% endif %}
					</div>
				</div>
			</div>
		</header>

	    <div class="container">
			{% block content %}
			{% endblock %}
	    </div>

		<script src="{% static 'js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
	</body>
</html>
