{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap5 %}


{% block title %}{% trans 'Sign up' %}{% endblock %}
{% block content %}

<div class="row">
	<div class="col-lg-6">
		<h1>Sign up</h1>

		<div class="alert alert-success mt-4" role="alert">
			<i class="fa-regular fa-memo-circle-check"></i> {% trans "Your maintainer object has been verified! Set a password and email address, and you're good to go." %}
		</div>

		<form method="post" action="">
			{% csrf_token %}
			{% bootstrap_form form %}
			<button type="submit" class="btn btn-primary" /><i class="fa-regular fa-user-plus"></i> {% trans 'Finish registration' %}</form>
			<input type="hidden" name="next" value="{{ next }}" />
		</form>
	</div>
</div>
{% endblock %}
