{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
<div class='row'>
	<div class='col-lg-6'>
		{% if request.resolver_match.url_name == 'peerings-edit' %}
			<h1>Edit peering with {{ peering.endpoint }}</h1>
		{% else %}
			<h1>Create peering</h1>
		{% endif %}

		<form method='POST'>
			{% csrf_token %}

			<div class="card mt-4">
				<div class="card-body">
					<h5 class="card-title mb-3">General</h5>
					{% bootstrap_field form.router %}
					{% bootstrap_field form.name %}
				</div>
			</div>

			<div class="card mt-4">
				<div class="card-body">
					<h5 class="card-title mb-3">VPN</h5>
					{% bootstrap_field form.vpn_type %}
					{% bootstrap_field form.endpoint %}
					{% bootstrap_field form.wg_peer_pubkey %}
				</div>
			</div>

			<div class="card mt-4">
				<div class="card-body">
					<h5 class="card-title mb-3">BGP</h5>
					{% bootstrap_field form.asn %}
					{% bootstrap_field form.endpoint_internal_v4 %}
					{% bootstrap_field form.endpoint_internal_v6 %}
					{% bootstrap_field form.mbgp_enabled %}
					{% bootstrap_field form.bandwidth_community %}
				</div>
			</div>

			{% if request.resolver_match.url_name == 'peerings-edit' %}
				<input type='submit' class='btn btn-primary mt-4' value='Update peering' />
			{% else %}
				<input type='submit' class='btn btn-primary mt-4' value='Create peering' />
			{% endif %}
		</form>
	</div>
</div>
{% endblock %}
