{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class='row'>
	<div class='col-lg-6'>
		<h1>Peerings</h1>
	</div>
	<div class='col-lg-6 float-right text-right'>
		<a href='/peerings/new/' class='btn btn-primary'>Create peering</a>
	</div>

	<div class='col-lg-12' style='margin-top: 1rem;'>
		<table class='table table-striped'>
			<thead>
				<tr>
					<th scope='col'>ASN</th>
					<th scope='col'>Router</th>
					<th scope='col'>Endpoint</th>
					<th scope='col'>Type</th>
					<th scope='col'>Routes</th>
					<th scope='col'>Traffic avg.</th>
					<th scope='col'></th>
			</thead>

			<tbody>
				{% for peering in object_list %}
					<tr>
						<th scope='row'><a href='/peerings/{{peering.id}}/'>{{ peering.asn }}</a></th>
						<td>
							{{ peering.router.location }}<br />
							<small>{{ peering.router.host_internal }}</small>
						</td>
						<td>
							{{ peering.endpoint }}<br />
							<small>{{ peering.endpoint_internal }}
						</td>
						<td>{{ peering.get_vpn_type_display }}</td>
						<td>
							{% with routes=peering.get_routes %}
								{% if routes %}
									{{ routes.imported }} imported<br />
									{{ routes.preferred }} preferred<br />
									{{ routes.filtered }} filtered
								{% else %}
									<em>Not available</em>
								{% endif %}
							{% endwith %}
						</td>
						<td>
							{% with traffic=peering.get_traffic %}
								{% if traffic %}
									Receive: {{ traffic.rx }}/s<br />
									Transmit: {{ traffic.tx }}/s<br />
								{% else %}
									<em>Not available</em>
								{% endif %}
							{% endwith %}
						</td>
						<td>
							<a href='/peerings/{{ peering.id }}'>Details</a><br />
							<a href='https://stats.dn42.lutoma.org/detail.php?p=interface&pi=wg.{{ peering.name }}&t=if_octets&h={{ peering.router.host_internal }}&s=86400' target='_blank'>Traffic stats</a><br />
							<a href='https://lg.dn42.lutoma.org/alice/routeservers/{{ peering.router.lg_id }}/protocols/{{ peering.name }}/routes' target='_blank'>Show routes</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{% if not object_list %}
			<p>You don't seem to have any peerings. <a href='/peerings/new/'>Create one!</a></p>
		{% endif %}
	</div>
	<div class='col-lg-12' style='margin-top: 3rem;'>
		<small>If you want to modify something not listed here or if something's broken, feel free to poke me on IRC (lutoma on hackint) or by email (lutoma@ohai.su).</small>
	</div>
</div>
{% endblock %}