{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class='row'>
	<div class='col-lg-12 d-flex justify-content-between'>
		<h1>Peerings</h1>
		<div>
			<a href='/peerings/new/' class='btn btn-primary'><i class="fa-regular fa-plus"></i> {% trans 'Create peering' %}</a>
		</div>
	</div>

	<div class='col-lg-12' style='margin-top: 1rem;'>
		<table class='table table-striped'>
			<thead>
				<tr>
					<th scope='col'><i class="fa-regular fa-hashtag"></i> {% trans 'ASN' %}</th>
					<th scope='col'><i class="fa-regular fa-satellite-dish"></i> {% trans 'State' %}</th>
					<th scope='col'><i class="fa-regular fa-server"></i> {% trans 'Router' %}</th>
					<th scope='col'><i class="fa-regular fa-bullseye-pointer"></i> {% trans 'Endpoint' %}</th>
					<th scope='col'><i class="fa-regular fa-route"></i> {% trans 'Routes IPv4' %}</th>
					<th scope='col'><i class="fa-regular fa-route"></i> {% trans 'Routes IPv6' %}</th>
					<th scope='col'><i class="fa-regular fa-chart-area"></i> {% trans 'Traffic avg.' %}</th>
					<th scope='col'></th>
			</thead>

			<tbody>
				{% for peering in object_list %}
					<tr>
						{% with status=peering.get_status %}
						<th scope='row'><a href='/peerings/{{peering.id}}/'>{{ peering.asn }}</a></th>
						<td>
							{% if status.state == 'Established' %}
								<span class='badge bg-success'>{{ status.state }}</span>
							{% else %}
								<span class='badge bg-warning'>{{ status.state }}</span>
							{% endif %}
								<br><small>{% trans 'since' %} {{ status.state_since }}</small>
						</td>
						<td>
							{{ peering.router.flag_emoji }} {{ peering.router.location }}<br />
							<small>{{ peering.router.host_internal }}</small>
						</td>
						<td>
							{{ peering.endpoint }}<br />
							<small>{{ peering.endpoint_internal }}
						</td>
						<td>
							{% if status %}
								{{ status.routes_v4 }} {% trans 'imported' %}<br />
								<small>{{ status.routes_v4_primary }} {% trans 'primary' %}</small><br />
								<small>{{ status.routes_v4_filtered }} {% trans 'filtered' %}</small>
							{% else %}
								<em>{% trans 'Not available' %}</em>
							{% endif %}
						</td>
						<td>
							{% if status %}
								{{ status.routes_v6 }} {% trans 'imported' %}<br />
								<small>{{ status.routes_v6_primary }} {% trans 'primary' %}</small><br />
								<small>{{ status.routes_v6_filtered }} {% trans 'filtered' %}</small>
							{% else %}
								<em>{% trans 'Not available' %}</em>
							{% endif %}
						</td>
						{% endwith %}
						<td>
							{% with traffic=peering.get_traffic %}
								{% if traffic %}
									{% trans 'Receive:' %} {{ traffic.rx }}/s<br />
									{% trans 'Transmit:' %} {{ traffic.tx }}/s<br />
								{% else %}
									<em>{% trans 'Not available' %}</em>
								{% endif %}
							{% endwith %}
						</td>
						<td>
							<a class='btn btn-secondary' href='/peerings/{{ peering.id }}/'><i class="fa-regular fa-circle-info"></i> {% trans 'Details' %}</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{% if not object_list %}
			<p>{% trans "You don't seem to have any peerings." %} <a href='/peerings/new/'>{% trans 'Create one!' %}</a></p>
		{% endif %}
	</div>
</div>
{% endblock %}
